html, body {
  overflow:hidden;
}
#board{
  margin: auto;
  width: 500px;
}

.newGame{
  margin: auto;
  text-align: center;
  padding-top: 25px;
}

#newGameButton{
  height: 50px;
  width: 150px;
  border-radius: 8px;
  border-color: black;
  font-size: 20px;
}

@media screen and (max-device-width: 667px){
  #board{
    width: 100%;
    height: auto;
    margin: auto;
  }
  
}
