html, body {margin: 0; padding: 0; overflow: hidden;}
#board{
  margin: auto;
  width: 400px;
  height: auto;
}

.newGame{

}

#newGameButton{
  height: 100px;
  width: 200px;
  border-radius: 8px;
  border-color: black;
  font-size: 20px;
}

.wrapper {
  position: fixed;
  overflow: hidden;
  width: 95%;
  height: auto;
  left: 50%;
  transform: translate(-50%, 0);
}

/* @media screen and (max-device-width: 667px) and (orientation: portrait){

  .wrapper {
    position: fixed;
    overflow: hidden;
    width: 100vw;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .newGame{

  }
  #board{
    margin: auto;
    width: 100%;
    height: auto;
  }

}
@media screen and (max-device-width: 667px) and (orientation: landscape){
  .wrapper {
    position: fixed;
    overflow: hidden;
    width: 100vw;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .newGame{

  }
  #board{
    margin: auto;
    height: 95%;
    width: auto;
  }
} */
