html, body {margin: 0; padding: 0; overflow: hidden;}
#board{
  margin: auto;
  width: 500px;
}

.newGame{
  margin: auto;
  text-align: center;
  padding-top: 25px;
}

#newGameButton{
  height: 50px;
  width: 150px;
  border-radius: 8px;
  border-color: black;
  font-size: 20px;
}

.wrapper {
  position: fixed;
  overflow: hidden;
  width: 660px;
  background: blue;
}

@media screen and (max-device-width: 667px){
  

}
